div {
    font-family: 'Poppins', sans-serif;

}
html {
    height: 100%;
    overflow: hidden;
}
body {
            background: linear-gradient(-45deg, #ffffff, #ffffff,#e7ffff,#ffffff);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            height: 100%;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
body { 
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    text-align: center;
}
#slide-image1 {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 420px;
    height: 340px;
    margin-top: 60rem;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0px 25px 40px #1687d933;
  }
#slide-image2 {
    position: absolute;
    top: 50%;
    left: 23%;
    width: 520px;
    height: 450px;
    margin-top: 50rem;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0px 25px 40px #1687d933;
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}
#slide-image1, #slide-image2 {
    margin-bottom: 10%
}
p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.kard {
    min-height: 95%;
    width: 100%;
    display: inline;
}
.title {
    width: 40%;
    padding: 5%;
    padding-top:5rem;
    margin: auto; 
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0px 25px 40px #1687d933;
}
.kard:nth-child(2n) .title {
    margin-left: 10%;
    margin-right: auto;
}

.kard:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 10%;
}
.spacing {
    margin-top: 5%;
}
#kard3 {
    margin-bottom: 10%
}