<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

<div class="footer-dark" style="margin-top: auto;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="{{ url_for('aboutelimin8') }}">About ELIMIN8</a></li>
                        <li><a href="{{ url_for('getinvolved') }}">Get Involved</a></li>
                        <li><a href="{{ url_for('partners') }}">Partners</a></li>
                        <li><a href="{{ url_for('founders') }}">Founders</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Information</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Project ELIMIN8</h3>
                    <h10>Project ELIMIN8 has and always will be for the people. Feel free to contact us for anything!</h10>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Project ELIMIN8</p>
        </div>
    </footer>
</div>