<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer-white" style="margin-top: auto;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="{{ url_for('aboutelimin8') }}">About Project ELIMIN8</a></li>
                        <!-- <li><a href="{{ url_for('getinvolved') }}">Get Involved</a></li> -->
                        <li><a href="{{ url_for('partners') }}">Partners</a></li>
                        <li><a href="{{ url_for('founders') }}">Founders</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact Information</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Project ELIMIN8</h3>
                    <h10>Project ELIMIN8 has and always will be for the people. Feel free to contact us for anything!</h10>
                </div>
                <div class="col item social"><a href="https://www.instagram.com/elimin8sd/?hl=en"><i class="fa fa-instagram"></i></a>
                  <a href="mailto:elimin8sd@gmail.com""><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/peacekeeper6/ELIMIN8"><i class="fa fa-github"></i></a></div>
            </div>
            <p class="copyright">Project ELIMIN8 meets all of the SB 1383 Food recovery Requirements.</p>
        </div>
    </footer>
</div>