{% extends "layouts/base.html" %}
{% block head %}
<meta charset="utf-8">
{#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="{{ url_for('static', filename='script/index.js') }}"></script>
    <title>Project ELIMIN8</title>
    <style>
        .bgimg-1 {
            /* background: linear-gradient(-45deg, #ffffff, #ffffff,#e7ffff,#ffffff);
            animation: gradient 10s ease infinite;
            height: 100vh;
        }
            @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        } */
            background-image: url({{ url_for('static', filename='assets/background.jpg') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
        }
        .bgimg-3 {
            background-image: url({{ url_for('static', filename='assets/background.jpg') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 400px;
        }
        .bgimg-2 {
            background-image: url({{ url_for('static', filename='assets/background.jpg') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            max-height: 700px;
        }

        {#.bgimg-3 {#}
        {#    background-image: url({{ url_for('static', filename='assets/chin.jpg') }});#}
        {#    min-height: 400px;#}
        body {
            color: #000000;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(-45deg, #ffffff, #ffffff,#e7ffff,#ffffff);
            background-size: 400% 400%;
            animation: gradient 10s ease infinite;
            height: 100vh;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        }
        .arrow{
            display: inline-block;
            border: solid #FCA101;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform:rotate(-135deg);
        }
        }
        /* .triangle {
            color:black;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 50px solid #555;
        }
        .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        } */
    </style>
{% endblock %}

{% block body %}
    <body style="font-family: 'Poppins', sans-serif">
    </div>
    <div class="bgimg-1" style="position:relative">
        <div class="flex-parent hero-desktop">
            <div class="flex-child _40 hero-padding">
                <div class="child-div">
                    <h7 style="color:black;padding-left:15%;font-size:95px">
                        Project ELIMIN8
                    </h7>
                </div>
            </div>
        </div>
        <!-- <h1 style="visibility:hidden;padding-left:300px;font-size:100px">
            Placeholder Element
        </h1> -->
        </div>
    <div style="color: #000000;background-color:#ffffff;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Since its conception, Project ELIMIN8 has been dedicated to preservation and giving back to the community.</p>
    </div>
    <div class="bgimg-2">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block" height="700px" width="100%" src="/static/assets/pant.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block" height="700px" width="100%" src="/static/assets/kiss.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block" height="700px" width="100%" src="/static/assets/fivehead.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block" height="700px" width="100%" src="/static/assets/sniff.jpg" alt="Fourth slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="background-color: rgba(0, 0, 0, 0.50)">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="background-color: rgba(0, 0, 0, 0.50)">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div style="position:relative;">
        <div style="color:#000000;background-color:#ffffff;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Our Vision: To eliminate food wastage and starvation in our local communities. </p>
        </div>
        </div>
    <div class="bgimg-3">
    </div>
    <div style="position:relative;">
    <div style="color: #000000;background-color:#ffffff;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Our Mission: To collect surplus food items that restaurants and businesses can no longer sell and distribute them to local food banks, homeless shelters, schools, and other organizations in need.</p>
    </div>
    </div>
<div class="bgimg-1"></div>
<!-- <button class="btn btn-light" onclick="scrollToTop()"><div class="arrow"></div>To Top</button> -->
    </body>
{% endblock %}
