<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        z-index:999;
        top: 0;
    }
    .nav-link {
        color: #000000;
        font-weight:bold;
        display:inline-block;
        text-transform: uppercase;
        padding: 20px 0px;
        margin: 0px 20px;
        position: relative;
        border-bottom: 3px solid transparent;
    }
    .nav-link:hover {
        border-bottom: 3px solid #89CFF0;
    }
    .dropdown-menu {
        background-color: #e7ffff;
        transform: translateY(-2px);
        box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
        z-index:999
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-* sticky" id="navbar" style="font-family: 'Poppins', sans-serif">
    <div class="container-fluid">
    <a class="navbar-brand active" href="{{url_for('index')}}">
        <img src="\static\assets\image_6483441-removebg-preview.png" width="75rem" height="50rem" class="center" alt="">
    </a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="nav-items" class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('aboutelimin8') }}">About Project ELIMIN8</a>
                    <a class="dropdown-item" href="{{ url_for('partners') }}">Partners</a>
                    <a class="dropdown-item" href={{ url_for('founders') }}>Founders</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Get Involved
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" href="{{ url_for('getinvolved') }}">Get Involved</a> -->
                    <a class="dropdown-item" href="{{ url_for('login') }}">Log In</a>
                    <a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
                </div>
            </li>
            <a class="nav-link" href="{{ url_for('donation') }}">Donation Form</a>
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </div>
    </div>
        <div style="padding-right:10px; padding-left:10px" id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: 'en'},
                    'google_translate_element'
                );
            }
        </script>
    <!-- <button href="javascript:void(0);" onclick="myFunction()" id="hamburger" class="btn btn-outline-primary"><i class="fa fa-bars fa-2x"></i></button> -->
    <!-- <a id="hamburger" href="javascript:void(0);" class="icon" onclick="myFunction()">
        <button class="btn btn-outline-primary"><i class="fa fa-bars fa-3x"></i></button>
      </a> -->
    <!-- <script>
        function myFunction() {
            var x = document.getElementById("nav-items");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
            }
    </script> -->
        <script type="text/javascript" src=
                "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        </script>
         <form class="form-inline">
           <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> -->
         </form>
{#        <div class="navbar-right">#}
{#            <div class="navbar-nav">#}
{#                <a class="nav-link" style="padding-left: 5px" href="{{ url_for('login') }}"><b>Login</b></a>#}
{#</div>#}
        </div>
    </div>
</nav>

