{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Project ELIMIN8|Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        body {
            background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
      }
    </style>
</head>
{% endblock %}
{% block body %}
<body>
    <wrapper>
    <div>
        <div class="scroll-text">
            The login and register pages are currently under maintenance. To contact us, refer to the <a href="{{ url_for('contact') }}">Contact Page</a>. To donate, refer to the <a href="{{ url_for('donation') }}">Donation Form</a>.
        </div>
    </div>
    <h1 id="h1padding">Welcome back!</h1>
<container>
<center>
    <h3>Log In</h3>
<div class="form-group">
    <input style="height:3rem" type="email" class="form-control" id="inputEmail" placeholder="Email">
</div>
</div>
<div class="form-group">
    <input style="height:3rem" type="password" class="form-control" minlength="8" required id="inputPassword" placeholder="Password">
</div>
    <div id="divpadding">
<button type="submit" class="btn btn-outline-primary" style="width:5rem;margin-top:2rem">Login</button>
    </div>
</center>
<center id="centerpadding">
    <div id="newuser">
        <span id="spancss">
          New User?
        </span>
      </div>
        <a href="{{ url_for('register') }}">Register</a></p> 
</center>
</container>
</wrapper>
</body>
{% endblock %}
</html>