{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Project ELIMIN8|Partners</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/partners.css') }}">
</head>
{% endblock %}
{% block body %}
<body style="font-family: 'Poppins', sans-serif">
<br>
    <h1>Our Partners</h1>
<hr/>
<h8>
    We are honored to be partnered with the following organizations
</h8>
    <div class="row" id="row1">
        <div class="column">
            <div class="card">
                <center>
                <img id="partner" src="static/assets/panera.PNG">
                    <a href="https://www.panerabread.com/en-us/home.html">
                    <h9>Panera Bread</h9>
                    </a>
                </center>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center>
                <img id="partner" src="static/assets/DMHTC_Listing_Gallery_Jimboslogo.jpg">
                    <a href="https://jimbos.com/">
                    <h9>Jimbo's</h9>
                    </a>
                </center>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center>
                <img id="partner" src="static/assets/producegood-logo.jpg">
                    <a href="https://producegood.org/">
                    <h9>ProduceGood</h9>
                    </a>
                </center>
            </div>
        </div>
    </div>
<div class="row" id="row2">
    <div class="column">
        <div class="card">
            <center>
                <img id="partner" src="static/assets/foundrychurch.jpg">
                <a href="http://thefoundryescondido.com/">
                <h9>Foundry Community Church</h9>
                </a>
            </center>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <center>
                <img id="partner" src="static/assets/DMHTC_Listing_Gallery_Jimboslogo.jpg">
                <h9>Lorem</h9>
            </center>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <center>
                <img id="partner" src="static/assets/producegood-logo.jpg">
                <h9>Ipsum</h9>
            </center>
        </div>
    </div>
</div>
</body>
{% endblock %}

</html>