{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Project ELIMIN8|About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    <style>
      body {
            background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
      }
    </style>
</head>
{% endblock %}
{% block body %}
<body>
    <div class="spacing"></div>
    <div class="placholder"></div>
    <div id="kard1" class="kard">
        <div class="title">
          <h1>What is Project ELIMIN8?</h1>
          <p>Project ELIMIN8 was started with one goal in mind: to reduce waste and starvation. We are an ever-growing non-profit branch organization under CastSD that strives to make a change in our communities. We are mainly located in San Diego, California but have expanded to other areas across America and are looking to expand throughout the world as well.</p>
        </div>
      </div>
      <div class="break"></div> <!-- break to a new row -->

      <div id="kard2" class="kard">
        <div class="title">
          <h1>What does Project ELIMIN8 do?</h1>
          <p>Members of Project ELIMIN8 pick up surplus food and donate it to organizations weekly. We set up relations between organizations that give us surplus food and donate to organizations that are in need of it. That way, we are able to help both causes with maximal effectiveness.</p>
        </div>
        <img id="slide-image1" src="/static/assets/placehdoler.PNG">
        <img id="slide-image2" src="/static/assets/placehdoler.PNG"> 
      </div>
      <div class="break"></div> <!-- break to a new row -->

      <div id="kard3" class="kard">
        <div class="title">
          <h1>Why should I get involved?</h1>
          <p>You can help our community mitigate food waste while receiving volunteer hours for your efforts by simply becoming one of our drivers. As a driver, you will pick up food from a store or restaurant partner and drop off food to a local charitable organization partner. Your contributions would be greatly appreciated.</p>
        </div>
        <img id="slide-image3" src="/static/assets/placehdoler.PNG"> 
        <img id="slide-image4" src="/static/assets/placehdoler.PNG"> 
      </div>
      <div class="break"></div> <!-- break to a new row -->


      <div id="kard4" class="kard">
        <div class="title">
          <h1>How can I get involved?</h1>.
          <p>To become a member, you can register through our <a href="{{ url_for('register') }}">Register Page</a>. After creating an account, we will be in contact with you as soon as possible in order to set up a connection within your area, and you can start helping your community while earning volunteer hours. For donations, please refer to the <a href="{{ url_for('contact') }}">Donation Page</a>. For your unanswered questions, lingering curiosity, and anything in general, please refer to our <a href="{{ url_for('contact') }}">Contact Page</a>.</p>
        </div>
      </div>
</body>
{% endblock %}
</html>