{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Project ELIMIN8|Founders</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/founders.css') }}">
        <style>
            body {
            background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
      }
        </style>
    </head>
{% endblock %}
{% block body %}
<body style="font-family: 'Poppins', sans-serif">
<br>
<h1>Our Founders</h1>

<container>
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="static/assets/juns.jpg" alt="Avatar" style="width:300px;height:300px">
        </div>
        <div class="flip-card-back">
            <p>Methods of contact:</p>
            <p>858-750-5117</p>
            <p>junlim954@gmail.com</p>
            <hr>
            <p>"I envision Project ELIMIN8 as a way for us to use the tools that we have at our disposal to reduce wastage and starvation in areas of our community that cannot afford to support themselves."</p>
        </div>
    </div>
</div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="static/assets/akegh.jpg" alt="Avatar" style="width:300px;height:300px">
            </div>
            <div class="flip-card-back">
                <p>Methods of contact:</p>
                <p>858-914-6016</p>
                <p>alexison.pan@gmail.com</p>
                <hr>
                <p>"I envision Project ELIMIN8 as a way to positively impact the community around me through mitigating food waste."</p>
            </div>
        </div>
    </div>
</container>
<fieldset>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="static/assets/IMG-8835.jpg" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <p>Methods of contact:</p>
                <p>858-945-1445</p>
                <p>jjustinnguyen04@gmail.com</p>
                <hr>
                <p>"I envision Project ELIMIN8 to turn not only our community, but many others into places where the problem of starvation exists only in the past."</p>
            </div>
        </div>
    </div>
</fieldset>
</body>
{% endblock %}

</html>