{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Project ELIMIN8|Donation Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/donation.css') }}">
    <style>
        body {
            background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
        }
    </style>
</head>
{% endblock %}
{% block body %}
<body>
    <container>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLZTwQ1l1xiJ5dpKnNX16MWATEJonQnnGFMbsJ7M7oJ3Wapw/viewform?embedded=true" width="640" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</container>
</body>
{% endblock %}
</html>