{% extends "layouts/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Project ELIMIN8|Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
    </style>
</head>
{% endblock %}
{% block body %}
<body style="font-family: 'Poppins', sans-serif">
    <h1 style="padding-top:3rem;padding-bottom:3rem">Welcome back!</h1>
<container>
<center>
    <h3>Log In</h3>
<div class="form-group">
    <!-- <label for="inputEmail">Email</label> -->
    <input style="height:3rem" type="email" class="form-control" id="inputEmail" placeholder="Email">
</div>
</div>
<div class="form-group">
    <!-- <label for="inputPassword">Password</label> -->
    <input style="height:3rem" type="password" class="form-control" minlength="8" required id="inputPassword" placeholder="Password">
</div>
    <div style="padding-bottom: 3rem">
<button type="submit" class="btn btn-outline-primary" style="width:5rem;margin-top:2rem">Login</button>
    </div>
</center>
<center style="margin-bottom:5rem;">
    <div class="divider">
    <hr class="left"/>
    New User?
    <hr class="right"/>
    <p> <br>
        <a href="{{ url_for('register') }}">Register</a></p> <br>
</div>
</center>
</container>
</body>
{% endblock %}
</html>