{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/donation.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        body {
            background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
            background-repeat: no-repeat;
            background-size:100% 100%;
            min-height: 100%;
      }
    </style>
</head>
{% endblock %}
{% block body %}
<container style="height:145rem">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeL7iH1XSlsRFimfZqBEpSzt4LjWt3jA9vItZzq9CJfiTu-QA/viewform?embedded=true" scrolling="no" width="640" height="1750" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
</container>
{% endblock %}
</html>