h1 {
    display: flex;
    justify-content: center;
    color: #000000;
}
html {
    height: 100%;
    overflow: hidden;
}
hr {
    width: 25%;
}
h8 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #000000;
}
center {
    overflow:hidden;
}
.row {
    justify-content:center
}
#row1 {
    margin-top:7%;
    margin-bottom:3%
}
#row2 {
    margin-bottom:7%
}
/* #partner {
    width:25rem;
    height:15rem;
} */
/* #panera {
    width: 85%;
    max-height: 200%;
} */
#jimbos, #panera, #foundry, #producegood {
    width: 85%;
    height: auto;    
}
body 
     {
        overflow-x: hidden;
        color:#000000;
        background-image: url({{ url_for('static', filename='assets/banner_bg2.png') }});
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: 100vh;
            }
    
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* .row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
} */
/* container {
    bottom: 0;
    left: 0;
    height: 300px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
} */
.card {
    box-shadow: 0px 25px 40px #1687d933;
    border-radius: 15px !important;
    padding: 30px;
    text-align: center;
    background-color: #f1f1f1;
}
h9 {
    font-size: 24px;

}